.game_info__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  margin-inline: auto;
}

.game_info__paragraph {
  font-size: 12px;
}
