.card {
  flex: 0 1 calc(50% - 10px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.card__thumbnail_description_container {
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.card__description_container {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
