.system_requirements__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.system_requirements__paragraph {
  font-size: 12px;
  text-align: start;
}
